*{
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  /* border: 1px solid pink; */

}

/* This is the default section */

h1 {
  font-family: 'Glass Antiqua', cursive;
  font-size: 6rem;
  color: firebrick;
  text-decoration: bold;
}

h2 {
  font-family: 'Glass Antiqua', cursive;
}

h3, h4 {
  font-family: 'Dosis', sans-serif;
}

h5, h6, p, span {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

h2 {
  font-size: 3.5rem;
  color: firebrick;
}

h3 {
  font-size: 2rem;
  color: firebrick;
}

h4 {
  font-size: 1.75rem;
}

a {
  text-decoration: none;
  color: firebrick;
}

a:hover {
  text-decoration: underline;
}

.nav {
  text-align: center;
  margin-top: 2%;
  font-size: 2rem;
}

.nav a {
  font-family: 'Glass Antiqua', cursive;
}

footer {
  font-size: 3rem;
  text-align: center;
}

/* This is the category layout section */

.catTitle {
  text-align: center;
}

.catTitle h1 {
  margin: 3% 0 3% 0;
}

.catPageImage {
  min-height: 40vh;
  background-color: firebrick;
}

.catPageItem {
border-top: 3px solid firebrick;
}

.catPageDetail {
padding-top: 2%;
}

.catPageSnippet {
  margin-top: 3%;
}

/* This is the post layout section */

.itemHeading {
  text-align: center;
  margin: 5%
}

.itemImage {
  min-height: 40vh;
  width: 100%;

}

.itemField {
  margin-bottom: 3%;

}

.itemAddress, .itemStars, .itemWebsite, .itemCategory, .wifi, .breakfast, .dinner, .child, .disability, .eco {
  color: firebrick;
}

.tooltip .tooltiptext {
    visibility: hidden;
    /*width: 120px;*/
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    font-size: 0.75rem;
    background-color: white;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.wholeItem {
  margin-bottom: 5%;
}

.itemContent p {
  margin-bottom: 2%;
}

/* This is the front page section */

#heroImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url('../images/laneway.png');
  min-height: 70vh;
  text-align: center;
  padding: 7%;

}

/* .social h2 {
  margin: 3% 0 3% 0;
  text-align: center;
} */

.fpCategory h2{
  text-align: center;
  margin-top: 5%;
  padding: 0, 5%, 0, 5%;
}
 .fpCatImage {
   min-height: 50vh;
 }

 .fpItem h3 {
   text-align: center;
 }

 .fpItem {
   margin-top: 3%;

 }

 .fpCatTitle{
  background-color: firebrick;
}

.fpCatTitle a {
  color: white;
}

 .fpFeature h3 {
   text-align: center;
   line-height: 50vh;
   margin: 0, 3%, 0, 3%;
 }

 .fpHeading {
   background-color: firebrick;
 }

.fpHeading h2 {
  text-align: center;
  color: white;
}




 @media only screen and (max-width: 800px) {

   #heroImage {
     background-image: none;
     background-color: darkgrey;
   }

   .catPageImage {
     min-height: 30vh;
   }

   .fpFeature h3 {
     text-align: center;
     margin: 0, 3%, 0, 3%;
   }
 }
