---
layout: default
description: Showcasing all that's best about Melbourne
keywords: melbourne, restaurant, bar, food, shop, shopping, sightseeing, culture, sport, reviews, Melbourne good life, living the good life, eat, eating, drink, drinking, see
---

  <div id="heroImage">
    <h1>The Melbourne Good Life</h1>
  </div>

<div class="fpHeading">
  <h2>Latest articles</h2>
</div>

<div class="grid">
  <div class="col-6_sm-12">
    <div class="fpCategory">
      <a href="/drink.html"><h2>Drink</h2></a>

      {% for post in site.categories.Drink limit:1 %}

        <div class="fpItem">
          <div class="col-6_xs-12 fpCatImage" style="background-image: url('{{ post.image }}'); background-repeat: no-repeat; background-size: cover; background-position: center;">
          </div>
          <div class="fpCatTitle">
            <h3><a href="{{ post.url }}">{{ post.title }} </a></h3>
          </div>
        </div>

      {% endfor %}

    </div>
  </div>

  <div class="col-6_sm-12">
    <div class="fpCategory">
      <a href="/eat.html"><h2>Eat</h2></a>

      {% for post in site.categories.Eat limit:1 %}

        <div class="fpItem">
          <div class="col-6_xs-12 fpCatImage" style="background-image: url('{{ post.image }}'); background-repeat: no-repeat; background-size: cover; background-position: center;">
          </div>
          <div class="fpCatTitle">
            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
          </div>
        </div>

      {% endfor %}

    </div>
  </div>
  <div class="col-6_sm-12">
    <div class="fpCategory">
      <a href="/shop.html"><h2>Shop</h2></a>

      {% for post in site.categories.Shop limit:1 %}

        <div class="fpItem">
          <div class="col-6_xs-12 fpCatImage" style="background-image: url('{{ post.image }}'); background-repeat: no-repeat; background-size: cover; background-position: center;">
          </div>
          <div class="fpCatTitle">
            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
          </div>
        </div>

      {% endfor %}

    </div>
  </div>
  <div class="col-6_sm-12">
    <div class="fpCategory">
      <a href="/see.html"><h2>See</h2></a>

      {% for post in site.categories.See limit:1 %}

        <div class="fpItem">
          <div class="col-6_xs-12 fpCatImage" style="background-image: url('{{ post.image }}'); background-repeat: no-repeat; background-size: cover; background-position: center;">
          </div>
          <div class="fpCatTitle">
            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
          </div>
        </div>

      {% endfor %}

    </div>
  </div>
</div>
<!-- <div>
  <svg height="210" width="500">
    <line x1="0" y1="0" x2="200" y2="0" style="stroke:rgb(255,0,0);stroke-width:2" />
  </svg>
</div> -->


<div class="fpHeading">
  <a href="/features.html"><h2>Features</h2></a>
</div>

<div>
  <div class="fpFeature grid">
    <div class="col-4_sm-6_xs-12 fpCatImage" style="background-image: url('../images/firstdate.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center;">
    </div>

    <div class="col-8_sm-6_xs-12 fpFeatureText">
      <h3><a href="/firstdate.html">Some ideas for a Melbourne first date</a></h3>
    </div>
  </div>
</div>

<div id="instagram" class="fpHeading">
  <a href="https://www.instagram.com/melbournegoodlife/" target="_blank"><h2>Instagram</h2></a>
      <!-- SnapWidget -->
    <script src="https://snapwidget.com/js/snapwidget.js"></script>
    <iframe src="https://snapwidget.com/embed/488406" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>
</div>
